body {
  background-image: url("../img/bg.jpg");
}

header {
  margin-bottom: 100px;
}

.navbar-fixed-top {
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
}

#logo {
  color: #fff;
  background: #000c6d;
  height: 70px;
  padding-top: 25px;
  
}

#logo:hover {
    background: #0b4fbc;
}

.navbar-brand {
  font-size: 26px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

.navbar-header {
  height: 70px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
}

.navbar-collapse {
  padding: 10px 0;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #000c6d;
}

@media screen and (max-width: 768px) {
  .navbar-right {
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 10px;
  }
}

.banner {
  margin-bottom: 40px;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
}

.well {
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #000000;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
}

#article-summary {
  font-size: 20px;
}


.view-comments {
  border-style: solid;
  border-width: 3px;
  border-color: #000000;
}

.view-comments:hover {
  border-style: solid;
  border-width: 3px;
  border-color: #000000;
}


.footer-copyright {
  text-align: center;
  padding: 10px 0;
}

.navbar-bottom {
  background-color: #000c6d;
  color: #ffffff;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
}
